.subnavbar{
    box-shadow: inset(0);
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
}

.chip {
    display: inline-block;
    padding: 0 20px;
    min-height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    margin: 5px 0px;
    background-color: #f1f1f1;
  }
